.task-item {
    border-bottom: 1px solid #dfdede;
    padding: 16px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.task-item-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 12px;
}

.task-info h3 {
    margin: 6px 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 50;
    text-align: left;
    flex: 1;
}

.task-delete-button {
    border: none;
    background: transparent;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

.task-delete-button:hover {
    background-color: rgba(214, 225, 255, 0.692);
}

.task-priority {
    text-align: right;
}

.task-priority h3 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: lighter;
}

.task-priority-select {
    border: 1px solid #dfdede;
    padding: 5px;
    text-align: center;
}

.priority-high {
    color: red;
}

.priority-medium {
    color: orange;
}

.priority-low {
    color: green;
}